*{
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.col-md-12{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    border-radius: 30px 10px 20px 10px;
}

a{
    padding: 0px;
}

.h1 small {
    font-size: 24px;
    }
