*{
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}


img{
    width: 100%;
    height: auto;
    border-radius: 30px 10px 20px 10px;
}

a{
    padding: 0px;
}

.fa{
  padding: 20px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-decoration: none;
  color: black;
}

.fa:hover{
    color: blue;
}